.wrap{
	padding: 0;
}

.list-wrap{
	margin: 0;
}

.item-image{
	width: 80px;
}
.discounted-price{
	color: #f75c50;
	padding-right: 10px;
}
.original-price{
	color: #ccc;
	padding-right: 30px;
}
.refresh{
	display: block;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.yth-list-group{
	padding:10px 8px;
}